{% extends 'control/base.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}


    <table class="table">
  <thead>
    <tr>
      <th scope="col">Unit</th>
      <th scope="col">Value</th>
      <th scope="col">Unit To</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ form.unit }}</td>
      <td >{{ form.unit_value }}</td>
      <td>{{ form.unit_to }}</td>
      <td><input type="submit" value="Calculate" class="btn btn-primary"></td>
    </tr>
    </td>
    </tr>
  </tbody>
</table>
 <h2 style="text-align: center">{{ result }}</h2>
</form>

{%  endblock %}